// .container {
//   display: flex;
//   flex-direction: column;
//   gap: 10px;
//   padding: 1rem;
// }
body {
  font-family: "Roboto";
  color: rgb(214, 66, 123);
  margin: 0;
  background-color: rgb(157, 200, 240);
  overflow: hidden;
}

.container {
  height: 100%;
}

.logo {
  display: block;
  max-width:95px;
  max-height:95px;
  width: auto;
  height: auto;
}

.header {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  padding: 50px;
}

.landing-page { 
  padding: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.first-row-boxes{
  max-width: 250px;
  min-width: 250px;
  max-height: 100px;
  border: 1px solid blue;
}

.text-area {
  font-family: "Inter", sans-serif;
  max-width: 250px;
  min-width: 250px;
  max-height: 100px;
  border: 1px solid blue;
}
// .row {
//   display: flex;
// }

// table {
//   border-collapse: collapse;
//   width: 100%;
// }

// th,
// td {
//   border: 1px solid #ffffff;
//   text-align: left;
//   padding: 8px;
//   font-size: 20px;
// }

// th {
//   background-color: rgb(117, 201, 250);
// }